NEXT_PUBLIC_SUPABASE_URL=https://zcrzdwvttjhapdbnyjpm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpjcnpkd3Z0dGpoYXBkYm55anBtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMjA1OTcsImV4cCI6MjA4OTc5NjU5N30.XL9lXKL-bguYkI64rTEodZd-YCSQjZwlcK4g5rfu8rw
